.padre {
    width: 400px;
    height: 400px;
    background-color: blue;
}

.hijo {
    width: 50%;
    height: 50%;
    background-color: bisque;
/*    transition: transform 1s ease-in 2s;*/
animation: traslacion 3s ease-in-out infinite forwards alternate;
}

.padre:hover .hijo {
   /* transform: translateX(100%);
    background-color: brown;*/
    animation-play-state: paused;
}

@keyframes traslacion {
    0% {
        background-color: yellow;
        transform: translateX(0%) translateY(0%);
    }
    25% {
        background-color: red;
        transform: translateX(100%);
    } 
    50% {
        background-color: green;
        transform: translateX(100%) translateY(100%);
    }
    75% {
        background-color: black;
        transform: translateX(0%) translateY(100%);
    }
    100% {
        background-color: deeppink;
        transform: translateX(0%) translateY(0%);

    }
}